.card{
    width: 266px;
    height: 205px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}
 
.card img{
    width: 100%;
    height: 136px;
    object-fit: cover;
    border-radius: 16px 16px 0 0;
}
 
.card-head{
    height: 136px;
}
 
.card h3{
    font-size: 15px;
    font-weight: 600;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
 
.card h4{
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    color: #7E8392;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.card-location{
    display: flex;
    gap: 8px;
}
 
.card-info{
    padding: 8px 12px 18px 12px;
}
.card-name{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
}
.circle{
    width: 10px;
    
}